<ion-view view-title="Title">
	<ion-header-bar align-title="left" class="bar-positive">
	<div class="buttons">
		<button class="button button-icon ion-arrow-left-c" ng-click="back_dash()"></button></button>
	</div>
	  <h1 class="title">Stock Management</h1>
	</ion-header-bar>
  <ion-content>
  	<div class="card">
  		<div class="item">
  			<h2>Tootbrush</h2>
  			<span>43 left</span>
  			<span class="badge badge-positive">#100</span>
  		</div>
  		<div class="item">
  			<h2>Coca cola</h2>
  			<span>23 left</span>
  			<span class="badge badge-positive">#150</span>
  		</div>
  	</div>
  </ion-content>
</ion-view>