/* Empty. Add your own CSS if you like */
.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

#centre{
	text-align: center;
}

#col{
	border: 1px solid #ddd;
	border-radius: 2px;
	width: 100%;
	background: #f7f7f7;
}